@import "tailwindcss";

html {
  font-size: 16px;
  line-height: 1.2;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'RadialTrial', sans-serif;
}
button , .btn{
  text-transform: capitalize;
}
.btn:hover {
  background: #faf8f4;
  cursor: pointer;
}

button.underline:hover {
  cursor: pointer;
  color: #04ae53;
}

.underline {
  text-decoration: underline;
}

select:hover {
  background: #faf8f47a;
  border-radius: 5px;
}

select:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}


/* Regular */
@font-face {
  font-family: "RadialTrial";
  src: url("./assets/fonts/radialtrial-regular.otf") format("opentype");
  src: url("./assets/fonts/radial/radialtrial-regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

/* Semibold */
@font-face {
  font-family: "RadialTrial";
  src: url("./assets/fonts/radial/radialtrial-semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

/* Semibold Italic */
@font-face {
  font-family: "RadialTrial";
  src: url("./assets/fonts/radial/radialtrial-semibolditalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}

/* Bold */
@font-face {
  font-family: "RadialTrial";
  src: url("./assets/fonts/radial/radialtrial-bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

/* Bold Italic */
@font-face {
  font-family: "RadialTrial";
  src: url("./assets/fonts/radial/radialtrial-bolditalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

/* Heavy (غالبًا وزن 800) */
@font-face {
  font-family: "RadialTrial";
  src: url("./assets/fonts/radial/radialtrial-heavy.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

/* Heavy Italic */
@font-face {
  font-family: "RadialTrial";
  src: url("./assets/fonts/radial/radialtrial-heavyitalic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
}

/* Black (وزن 900) */
@font-face {
  font-family: "RadialTrial";
  src: url("./assets/fonts/radial/radialtrial-black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

/* test content */
.test-content {
  background: #fff1f1;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* end test content */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {  }

 /* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {  html {
    font-size: 14px !important;
    line-height: 1.2 !important;
  }

  .page {
        padding: 12px 12px 12px !important;
  }

  .btn-back {
    padding: 5px !important;
  }

  .btn-back svg {
    width: 12px !important;
    height: 12px !important;
  }

  .top-right-part {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    gap: 10px !important;
  }

  .top-actions .btn {
    height: 33px !important;
  }

  .top-actions {
    margin-left: 12px !important;
  }

  .v-d-block {
    min-width: 200px !important;
  }

  .v-top-details {
    display: block !important;
  }

  .v-d-block {
    padding-bottom: 10px !important;
    margin-bottom: 10px !important;
    border-bottom: 1px solid #f0eee7 !important;
  }

  /* TABS */
  .base-nav {
    display: flex !important;
    flex-wrap: nowrap !important;
    max-width: 100% !important;
    overflow: auto !important;
    /* PADDING-BOTTOM: 10px !important; */
  }

  .base-nav::-webkit-scrollbar {
    display: none !important;
  }

  /* END TABS */
  /*TABS CONTENT */

  /*OVERVIEW TAB*/
  /*GRID SYSTEM*/
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -8px !important;
    margin-left: -8px !important;
}

.col-4,
.col-8,
.col-3 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 8px !important;
    padding-left: 8px !important;
}
  .col-4,
  .col-3,
  .col-8 {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }

  /* card */
  .card-header {
    display: flex !important;
    flex-direction: column !important;
  }

  .header-filter {
    align-self: flex-end !important;
  }

  .icon-kpi {
    margin-bottom: 25px !important;
  }

  .card-header-2 .col-card {
    padding: 0 !important;
    width: 100% !important;
    margin-bottom: 15px !important;
    border: 0 !important;
  }

  .card-header-2 {
    display: flex !important;
    flex-direction: column !important;
  }
 }

 /* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
      .col-4,
  .col-8 {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }

  .col-3{
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 100% !important;
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }

.v-d-block {
        min-width:35% !important ;
        padding-bottom: 10px !important;
        margin-bottom: 10px !important;
    }
 }

/*  Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    .page {
        padding: 12px 12px 12px !important;
  }
   .tab-item a {
    white-space: nowrap;
}

.base-nav{
    display: flex !important;
    max-width: 100% !important;
    width: 100%;
    overflow: auto !important;
    /* PADDING-BOTTOM: 10px !important; */
    flex-wrap: nowrap;
    background: #F5F3EB;
    border-radius: 8px;
}

html {
    font-size: 15px;
}
.v-d-block {
        min-width: 30% !important;
        padding-bottom: 10px !important;
        margin-bottom: 10px !important;
        margin-left: 1rem;
        white-space: nowrap;
    }



.v-top-details {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    width: 100%;
    /* background: #f5f3eb78; */
    padding: 10px;
}

.tabs-list {
    white-space: nowrap;
    width: 100%;
}

.v-top-details:hover {
         background: #f5f3eb61;
}

}